# Dependencies
node_modules/

# Local environment & temporary files
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test & scratch directories
scratch/

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
